@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    color: rgb(43, 43, 43);
    background-color: whitesmoke;
  }
  
  body {
    margin-left: 3em;
    margin-right: 3em;
    min-width: 320px;
    min-height: 100vh;
    gap: 10px;
    min-height: 100vh;
  }

  a {
    color: rgb(43, 43, 43); 
    text-decoration: none;
  }
  
  a:active {
    color: inherit
  }
  
  a:visited {
    color: inherit;
  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto auto 1fr; 
  }
  
  h1 {
    font-size: 40px;
    line-height: 1;
    border: 5px solid;
    border-radius: 10px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    padding: 5px;
    padding-top: 15px;
    width: 215px;
    text-transform: none;
    transition: all 0.3s ease-in-out;
  }
  h1:hover {
    color: white;
    background: black;
    border: 5px solid black;
  }
  
  
  .top-bar {
    grid-column: 1/4;
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #user-image {
    width: 4em;
    height: 3em;
    margin-left: 15px;
    border: 2px solid black;
    border-radius: 50px;
  }
  
  /* .navBar {
    grid-column: 1 / 4;
    grid-row: 2;
  } */
  /* .navBar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 5px;
  } */
  
  /* .content {
    grid-column: 2;
  } */
  
  /* .articles-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */
  
  /* ul {
    list-style-type: none;
  } */
  
   /* button {
    border-radius: 8px;
    border: 1px solid rgb(223, 149, 149);
    padding: 0.6em 1.2em;
    font-size: 12px;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  } */
  button:hover {
    border-color: #646cff;
  }
  
  .button-pressed{
    outline: 4px auto -webkit-focus-ring-color;
    background-color: #cbceff;
  }
  
  /* @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  } */
  
  /* #new-comment-box {
    width: 500px;
    border-radius: 4px;
    border: 2px solid grey;
  } */
