
body.light button {
  border: 2px solid #000;
  color: rgb(43, 43, 43);
  background-color: transparent;
}

body.light button:hover {
  background-color: black;
  color: white;
}

body.dark button {
  border: 2px solid rgba(204, 202, 202, 0.925);
  color: rgba(204, 202, 202, 0.925);
  background-color: transparent;
}

body.dark button:hover {
  background-color: #fffffff3;
  color: black;
}

#new-article-button {
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 0.3em 1em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 13px;
  width: 100px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

#new-article-button.dark {
  color: white;
}

#new-article-button .text {
  font-size: 1.125em;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

#new-article-button .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: #e8e8e8;
  transition:
    width 0.5s ease-out,
    left 0.3s ease-out;
}

#new-article-button .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: #e8e8e8;
  transition:
    width 0.5s ease-out,
    right 0.3s ease-out;
}

#new-article-button .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: #e8e8e8;
  transition:
    width 0.5s ease-out,
    right 0.3s ease-out;
}

/* #new-article-button:hover {
  color: white;
  background: black;
}

#new-article-button:hover .text {
  color: white;
  padding-left: 1.5em;
} */

#new-article-button:hover .top-key {
  left: -2px;
  width: 0px;
}

#new-article-button:hover .bottom-key-1,
#new-article-button:hover .bottom-key-2 {
  right: 0;
  width: 0;
}