:root {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin-left: 3em;
  margin-right: 3em;
  min-width: 320px;
  min-height: 100vh;
  gap: 10px;
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: auto auto 1fr; 
}

h1 {
  font-size: 40px;
  line-height: 1;
}

.top-bar {
  grid-column: 1/4;
  grid-row: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navBar {
  grid-column: 1 / 4;
  grid-row: 2;
}
.navBar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

.content {
  grid-column: 2;
}

.articles-list {
  /* display: grid;
  place-items: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
}

button {
  border-radius: 8px;
  border: 1px solid rgb(223, 149, 149);
  padding: 0.6em 1.2em;
  font-size: 12px;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
